.intro {
    margin: 20px auto;
    border: 1px solid black;
    max-width: 70%;
    text-align: center;
    align-content: center;

    h1{
    }
    p {}
}
.instructions {
    margin: auto;
    border: 1px solid black;
    max-width: 60%;
    h1{}
    h3{}
    .passwordForm{
        form{}
        label{}
        input{}
        button{}
    }
}