.intro {
    margin: 20px auto;
    border: 2px solid black;
    max-width: 70%;
    text-align: center;
    align-content: center;
    background-color: #a6d0f0;
    border-radius: 10px;
    padding-bottom: 20px;

    h1{
    }
    p {
        max-width: 80%;
        margin: 10px auto;
        
    }
}
.instructions {
    margin: auto;
    border: 2px solid black;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 196, 129);
    border-radius: 10px;

    h1{
        margin-bottom: 10px;
    }

    h3{
        font-style: italic;
    }

    .passwordForm{
        display: flex;
        flex-direction: column;


        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            margin: 0px auto;
        }

        label{}
        input{
        }
        button{
            margin: 10px;
            border-radius: 5px;
            background-color: lightgrey;
        }
    }
}